<div class="report-body-container">



    <div class="report-logout">
        <a href="/logout" id="logout-btn"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
    <div class="clearfix"></div>
    <div class="main-report-container">
        <div class="table-container">
            <h3>{{counter}}&nbsp;({{periodicity}})</h3>
            <table class="table table-sm table-striped table-bordered content-table" id="dataTable">
                <thead>
                <th>Date</th>
                <th>Values</th>
                </thead>
                <tbody>
                {{#if dataSet}}
                    {{#each dataSet}}
                        <tr>
                            <td>{{formatDate my_date}}</td>
                            <td>{{value}}</td>
                        </tr>
                    {{/each}}
                {{/if}}

                </tbody>
            </table>
        </div>
        <div class="report-chart-container">
            <div class="generate-chart-btn-container">

                <button id="downloadcsv"><i class="fas fa-file-csv fa-2x"></i>&nbsp;&nbsp;Export csv</button>

                <button id="generateChart"
                        data-tableName="{{tableName}}" data-start_date="{{start_date}}"
                        data-end_date="{{end_date}}" data-reporttype="{{period}}" data-reportname="{{reportname}}">Generate Charts &nbsp;<i class="fas fa-chart-line"></i></button>
            </div>
            <div class="charts" id="charts">
                <canvas id="canvas" >

                </canvas>
            </div>
        </div>
    </div>
</div>
